In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_data=pd.read_csv("creditcard.csv");

In [3]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_data.shape

(284807, 31)

In [5]:
credit_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# checking for missing values
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
credit_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
#data cleaning
#seperating data variables  analysis
correct_data=credit_data[credit_data.Class==0]
fraud_data=credit_data[credit_data.Class==1]

In [10]:
print(correct_data.shape)
print(fraud_data.shape)

(284315, 31)
(492, 31)

In [11]:
 correct_data.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud_data.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
legit_sample = correct_data.sample(n=492)

In [17]:
new_sample=pd.concat([legit_sample,fraud_data],axis=0)

In [19]:
new_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
252879,156007.0,0.800553,-3.013402,-4.659225,-0.928807,1.938437,2.962046,0.937657,0.213096,-1.408256,...,0.346570,-0.165892,-0.709742,0.815314,0.268382,0.960642,-0.243256,0.031531,755.46,0
102152,68071.0,-1.195739,0.222015,2.431456,0.120116,0.798431,1.001468,1.216941,-0.314560,0.253638,...,-0.091803,0.437858,-0.452955,-0.280455,0.429851,-0.444794,-0.619290,-0.591947,87.91,0
180561,124595.0,1.710268,0.266977,-0.908505,3.833306,0.302057,-0.477862,0.511177,-0.273374,-1.158934,...,0.304785,0.614141,-0.046775,0.043932,0.082039,0.116260,-0.068941,-0.030191,128.20,0
173312,121437.0,1.737456,0.104968,0.159169,3.721526,-0.080163,0.864684,-0.518869,0.236096,-0.641437,...,0.250462,0.741616,0.085339,-0.391111,-0.225936,0.025975,0.011846,-0.034036,56.89,0
25936,33834.0,0.872286,-0.481259,1.266507,1.329750,-1.094310,0.213596,-0.685510,0.240356,0.716662,...,0.348687,0.784496,-0.141138,0.083537,0.223077,-0.220624,0.064064,0.060975,133.97,0

In [20]:
new_sample.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
new_sample.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,...,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,87263.131098,-2.352415,1.784622,-3.492541,2.241687,-1.591531,-0.715760,-2.748674,0.306459,-1.318963,...,0.370787,0.016121,-0.020595,-0.054787,0.034989,0.023114,0.082968,0.038050,109.391026,0.500000
std,48617.911068,5.498857,3.688262,6.227069,3.241968,4.193247,1.701987,5.869801,4.835615,2.289936,...,2.775410,1.157010,1.205426,0.554738,0.665515,0.480711,1.004374,0.443810,269.300856,0.500254
min,68.000000,-30.552380,-10.431475,-31.103685,-4.017393,-22.105532,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.028024,-4.781606,-1.195547,-7.263482,-4.948943,0.000000,0.000000
25%,43779.750000,-2.799011,-0.196805,-5.074851,-0.163546,-1.758568,-1.536701,-3.044451,-0.195001,-2.331368,...,-0.138221,-0.516574,-0.239023,-0.405936,-0.299090,-0.298222,-0.062900,-0.051146,1.495000,0.000000
50%,79219.000000,-0.804667,0.943094,-1.392340,1.289350,-0.436780,-0.666009,-0.667315,0.155575,-0.744856,...,0.155251,0.060282,-0.034153,-0.011276,0.061729,-0.021100,0.046682,0.035824,20.000000,0.500000
75%,135096.750000,1.011740,2.776060,0.341244,4.276079,0.454838,0.050184,0.321785,0.855025,0.125437,...,0.651412,0.577172,0.185895,0.377877,0.395168,0.330615,0.422641,0.217051,99.990000,1.000000
max,172595.000000,2.340347,22.057729,3.459125,12.114672,11.095089,6.474115,13.328208,20.007208,4.728239,...,27.202839,8.361985,8.578199,1.189526,2.208209,2.745261,3.343366,2.296270,3821.790000,1.000000

In [22]:
new_sample['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [23]:
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [24]:
new_sample.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93779.455285,0.067118,-0.054534,0.048200,-0.058656,-0.031837,-0.033784,0.071383,0.042282,-0.056803,...,0.022777,0.027985,0.018192,-0.000881,-0.004443,0.028528,-0.005420,-0.004638,0.000433,96.570732
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [27]:
Y=new_sample.drop(columns='Class', axis=1)
X=new_sample['Class']

In [29]:
print(Y.head())

            Time        V1        V2        V3        V4        V5        V6  \
252879  156007.0  0.800553 -3.013402 -4.659225 -0.928807  1.938437  2.962046
102152   68071.0 -1.195739  0.222015  2.431456  0.120116  0.798431  1.001468
180561  124595.0  1.710268  0.266977 -0.908505  3.833306  0.302057 -0.477862
173312  121437.0  1.737456  0.104968  0.159169  3.721526 -0.080163  0.864684
25936    33834.0  0.872286 -0.481259  1.266507  1.329750 -1.094310  0.213596

              V7        V8        V9  ...       V20       V21       V22  \
252879  0.937657  0.213096 -1.408256  ...  0.958568  0.346570 -0.165892
102152  1.216941 -0.314560  0.253638  ... -0.140902 -0.091803  0.437858
180561  0.511177 -0.273374 -1.158934  ... -0.034989  0.304785  0.614141
173312 -0.518869  0.236096 -0.641437  ... -0.104024  0.250462  0.741616
25936  -0.685510  0.240356  0.716662  ...  0.078692  0.348687  0.784496

             V23       V24       V25       V26       V27       V28  Amount
252879 -0.709742  0.815314  0.268382  0.960642 -0.243256  0.031531  755.46
102152 -0.452955 -0.280455  0.429851 -0.444794 -0.619290 -0.591947   87.91
180561 -0.046775  0.043932  0.082039  0.116260 -0.068941 -0.030191  128.20
173312  0.085339 -0.391111 -0.225936  0.025975  0.011846 -0.034036   56.89
25936  -0.141138  0.083537  0.223077 -0.220624  0.064064  0.060975  133.97

[5 rows x 30 columns]

In [31]:
print(X)

252879    0
102152    0
180561    0
173312    0
25936     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [33]:
#splitting the training and target set
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=X,random_state=2)

In [37]:
print(Y.shape,Y_train.shape,Y_test.shape)

(984, 30) (787, 30) (197, 30)

In [38]:
#Model Training
model=LogisticRegression()

In [40]:
#training the data using training data
model.fit(Y_train,X_train)

LogisticRegression()

In [41]:
Y_train_accur=model.predict(Y_train)
training_accur=accuracy_score(Y_train_accur,X_train)

In [44]:
print("Accuracy of model",training_accur)

Accuracy of model 0.928843710292249

In [43]:
Y_test_accur=model.predict(Y_test)
testing_accur=accuracy_score(Y_test_accur,X_test)

In [45]:
print("Accuracy of model",testing_accur)

Accuracy of model 0.883248730964467